<!DOCTYPE HTML>
<html lang="zh">
<head>
    <meta charset="UTF-8">
	<title> <%= projectName %> - Home </title>
	<!--#include virtual="../../mods/header.html" -->
</head>
<body>

<!--正文开始-->

<h1 class="example">加载中...</h1>

<script>
    KISSY.use('<%= packageName %>/pages/home/index', function(S, Home) {
		Home.init({
			msg:'hello world!'	
		});
    });
</script>

</body>
</html>

<!--
	KISSY MINI 文档：http://m.kissyui.com/docs/core.html
-->

<!--
	KISSY MINI 组件代码脚手架工具：https://github.com/jayli/generator-mpi
-->
